{% extends 'admin/change_list.html' %}

{% block object-tools %}

<form id="generate-dates" method="post" action="add-dates/">
    {% csrf_token %}
    <div class="row">
      <div class="col">
        <input type="date" class="form-control" id="start-date" name="start-date" placeholder="Data początkowa">
      </div>
      <div class="col">
        <input type="date" class="form-control" id="end-date" name="end-date" placeholder="Data końcowa">
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Generuj daty</button>
</form>

{{block.super}}
{% endblock object-tools %}