{% extends "import_data_for_schedule/base.html" %}

{% block title %}
Dodawanie adresów do rejonów
{% endblock %}

{% block content %}
<h1>Dodawanie adresów do rejonów</h1>

<ol>
<li>Wybierz z listy:
<ul>
    <li>miejscowość</li>
    <li>frakcję śmieci</li>
    <li>rejon</li>
</ul>
<li>Dodaj ulice oddzielne przecinkiem.</li>
</ol>
<hr>
{% if messages %}
    {% for message in messages %}
        <div id="message" class="container">
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hiden="true">&times;</span></button>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}
<form method="POST" id="AddStreetForm" enctype="multipart/form-data" data-districts-url="{% url 'import_data_for_schedule:ajax_load_districts_otpions' %}" novalidate autocomplete="off">
    {% csrf_token %}
    
    {{form.as_p}}
    
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add-address-to-district">
        Dodaj
    </button>

    <!-- Modal -->
    <div class="modal fade" id="add-address-to-district" tabindex="-1" role="dialog" aria-labelledby="Dodaj daty"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Dodawanie adresów</h4>
                </div>
                <div class="modal-body">
                    Czy chcesz dodać adresy <strong>do tego rejonu</strong>?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Zamknij</button>
                    <button type="submit" class="btn btn-primary" id="add_streetss">Dodaj</button>
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock content %}

{% block extra_script %}
    <script>
    $("#id_city").change(function () {
        var url = $("#AddStreetForm").attr("data-districts-url");
        var cityId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'city': cityId
            },
            success: function (data) {
                $("#id_rubbish_district").html(data);
            }
        });
    });
    </script>
{% endblock %}