{% extends "import_data_for_schedule/base.html" %}

{% block title %}
Adresy odbioru odpadów
{% endblock %}

{% block content %}
<h1>Adresy odbioru odpadów</h1>
<p>Stwórz adresy odbioru odpadów.</p>
<ul>
<li>Wybierz z listy miasto.</li>
<li>Dodaj ulice oddzielne przecinkiem.</li>
</ul>
<p><b>Uwaga!</b> Nowe ulice zostaną dodane do bazy danych, ale automatycznie nie będą tworzyły adresu odbioru odpadów.</p>
<hr>
{% if messages %}
    {% for message in messages %}
        <div id="message" class="container">
            <div class="alert alert-{{ message.tags }} alert-dismissible text-center" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hiden="true">&times;</span></button>
                {{ message }}
            </div>
        </div>
    {% endfor %}
{% endif %}
<form method="POST" id="AddStreetForm" enctype="multipart/form-data">
    {% csrf_token %}
    {{form.as_p}}
    <button type="submit" id="add_streets" class="btn btn-default">Dodaj</button>
</form>
{% endblock content %}
