@page {
    size: auto;
    margin: 0;
}

body {
    height: 297mm;
    width: 210mm;
    -webkit-print-color-adjust: exact !important; /* Chrome, Safari */
    color-adjust: exact !important; /* Firefox */
}

.container {
    width: auto;
}

#content {
    height: 250mm;
    width: 210mm;
}

main {
    padding-bottom: 0;
}

.header-text {
    display: none;
}

.header-img img {
    display: none;
}

#search {
    display: none;
}

.for-print h2{
    display: block;
}

#calendar {
    float: left !important;
    padding-top: 1px:
}

.top-icon {
    display: none;
}

#calendar>h2 {
    margin-top: 1px;
    font-size: 18px;
}

h2.year {
    font-size: 14px;
    margin-bottom: 2px;
}

h3.address {
    font-size: 12px;
    margin-top: 0;
    margin-bottom: 2px;
}
#calendar-legend ul {
    margin-bottom: 0;
    padding: 5px;
}

#calendar-legend li {
    font-size: 10px;
    line-height: 10px;
    padding: 5px;
}

#calendar-legend span {
    width: 17px;
    height: 17px;
    line-height: 17px;
}

#calendar-legend p {
    font-size: 9px;
    padding-left: 40px;
    padding-bottom: 0;
}

div.month {
    min-height: 205px;
    float: none;
    display: inline-block;
    width: 30%;
    font-size: 10px;
}

.month th,
.month td {
    padding: 6px;
    line-height: 12px;
}

.sun {
    color: red !important;
}

.holiday {
    color: red !important;
}

.mark-rubbish {
    width: 17px;
    height: 17px;
    line-height: 17px;
}

#next-year {
    float: left;
}
#next-year ul {
    margin-bottom: 5px;
    margin-left: 5px;
    padding: 5px;
}

#next-year h2 {
    font-size: 12px;
    margin-left: 20px;
    margin-top: 0;
    margin-bottom: 0;
}

#next-year li {
    font-size: 10px;
    line-height: 15px;
}

#next-year span{
    background-size: 15px !important;
    padding-left: 20px;
    padding-top: 2px;
    height: 17px;
    width: 17px;
}

.sr-only {
    display: none;
}

.buttons {
    display: none;
}

footer {
    position: relative;
}

.footer {
    border-top: 1px solid silver;
}

.footer p {
    font-size: 8px;
    padding-top: 5px;
    padding-bottom: 2px;
}

#toTop {
    display: none !important;
}

a#privacy-policy{
    display: none;
}