{% extends "schedule/base.html" %}
{% load calendar_extras %}
{% load static %}


{% block title %}
    Kalendarz: {{address}}
{% endblock  %}

{% block description %}
    Wydrukuj kalendarz odbioru odpadów dla adresu {{city_name}} - {{street_name}}. Możesz go również pobrać na telefon.
{% endblock %}
{% block search %}
    {% include 'schedule/search.html' %}
{% endblock  %}

{% block content %}
    <div id="content">
    <div id="calendar">
    <h2>{{year}}</h2>
     <h3 class="address">{{address}}</h3>
    <div class="sr-only">
    <p>Daty odbioru odpadów:
        {% for date, districts in schedule_dates_for_address.items %}
            <ul>
            <strong>{{date}}</strong>:
            {% for district in districts %}
                <li>{{district.rubbish_type}}</li>
            {% endfor %}
            </ul>
        {% endfor %}
    </p>
    </div>
        <div id="calendar-days">
        {% for month in calendar.keys %}
            <div class="col-md-4 col-sm-6 col-xs-12 month {{month|lower}}">
                <table border="0" xcellpadding="0" cellspacing="0">
                    <tr>
                        <th colspan="7" class="month">{{month|translate_month_to_pl}}</th>
                    </tr>
                    <tr>
                        {% for day in days_names_list  %}
                            <th class="{{day|lower}}">{{day|translate_day_to_pl}}</th>
                        {% endfor %}
                    </tr>
                    {% for month_name, weeks in calendar.items %}
                        {% if month_name in month %}
                            {% for day_number in weeks  %}
                                <tr>
                                    {% for day in days_names_list  %}
                                        <td class="{{day|lower}}">
                                            {% with number=day_number|list_index:forloop.counter0 %}
                                                {% if number == 0 %}
                                                    <span class="day">&nbsp;</span>
                                                {% else %}
                                                    <span class="day">{% calendar_day number month schedule_dates_for_address %}</span>
                                                {% endif %}
                                            {% endwith %}
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% endfor%}
        </div>
    </div>
    </div>
{% endblock  %}