{% load calendar_extras %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calendar</title>
</head>

<body>
    <h1>Kalendarz</h1>
     Adres: {{address}}<br><br>
    <p>Daty dla adresu:
        {% for date, districts in schedule_dates_for_address.items %}
            {{date}}:
            {% for district in districts %}
                {{district.rubbish_type}} ({{district.rubbish_type.mark_color}})
            {% endfor %}
        {% endfor %}
    </p>

    {% for month, days in calendar.items %}
        <table border="0" xcellpadding="0" cellspacing="0">
            <tr>
                <th colspan="7" class="month">{{month|translate_month_to_pl}}</th>
            </tr>
            <tr>
                {% for day in days_names_list  %}
                    <th class="{{day|lower}}">{{day|translate_day_to_pl}}</th>
                {% endfor %}
            </tr>
            {% for month_name, weeks in calendar.items %}
                {% if month_name in month %}
                    {% for day_number in weeks  %}
                        <tr>
                            {% for day in days_names_list  %}
                                <td class="{{day|lower}}">
                                    {% with number=day_number|list_index:forloop.counter0 %}
                                        {% if number == 0 %}
                                            &nbsp;
                                        {% else %}
                                            {% calendar_day number month schedule_dates_for_address %}
                                        {% endif %}
                                    {% endwith %}
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </table>
    {% endfor%}
</body>

</html>