{% extends "schedule/base.html" %}
{% load calendar_extras %}
{% load static %}


{% block title %}
    Kalendarz: {{address}}
{% endblock  %}

{% block description %}
    Wydrukuj kalendarz odbioru odpadów dla adresu {{city_name}} - {{street_name}}. Możesz go również pobrać na telefon.
{% endblock %}

{% block search %}
    {% if config.maintenance_mode and user.is_authenticated or not config.maintenance_mode %}
        {% include 'schedule/search.html' %}
    {% endif %}
{% endblock  %}

{% block content %}
    <div id="content">
    {% if config.maintenance_mode and user.is_authenticated or not config.maintenance_mode %}
        <div id="calendar">
            <h2>{{year}}</h2>
            <h3 class="address">{{address}}</h3>
            <div class="sr-only">
                <p>Daty odbioru odpadów:
                    {% for date, districts in schedule_dates_for_address.items %}
                    <ul>
                        <strong>{{date}}</strong>:
                        {% for district in districts %}
                        <li>{{district.rubbish_type}}</li>
                        {% endfor %}
                    </ul>
                    {% endfor %}
                </p>
            </div>

            <div id="calendar-legend">
                <ul>
                {% for type in rubbish_types%}
                    <li><span class="{{type.css_name}}-rubbish"></span>{{type.name|lower}}</li>
                {% endfor %}
                </ul>
                <p><strong>UWAGA!</strong> W przypadku odbioru różnych odpadów tego samego dnia zaznaczenie na kalendarzu
                    składa się z kilku kolorów odpowiadających rodzajowi odpadów.</p>
            </div>
            <div id="calendar-days">
                {% for month in calendar.keys %}
                <div class="col-md-4 col-sm-6 col-xs-12 month {{month|lower}}">
                    <table border="0" xcellpadding="0" cellspacing="0">
                        <tr>
                            <th colspan="7" class="month">{{month|translate_month_to_pl}}</th>
                        </tr>
                        <tr>
                            {% for day in days_names_list  %}
                            <th class="{{day|lower}}">{{day|translate_day_to_pl}}</th>
                            {% endfor %}
                        </tr>
                        {% for month_name, weeks in calendar.items %}
                            {% if month_name in month %}
                                {% for day_number in weeks  %}
                                <tr>
                                    {% for day in days_names_list  %}
                                    <td class="{{day|lower}}">
                                        {% with number=day_number|list_index:forloop.counter0 %}
                                            {% if number == 0 %}
                                            <span class="day">&nbsp;</span>
                                            {% else %}
                                                {% calendar_day number month schedule_dates_for_address %}
                                            {% endif %}
                                        {% endwith %}
                                    </td>
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </table>
                </div>
                {% endfor%}
            </div>
        </div>
        {% else %}
            <div style="margin-top: 30px; text-align: center" class="alert alert-warning" role="alert">
            <p>Przepraszamy. W tej chwili trwa przerwa techniczna.<br/>
            Zapraszamy później.</p>
        </div>
        {% endif %}
    </div>
    {% next_year schedule_dates_for_address as next_year_dates %}
    {%if next_year_dates%}
    <div id="next-year" class="col-md-12 col-sm-12 col-xs-12">
        <h2>{{year|add:1}}</h2>
        <ul>
        {% for day in next_year_dates %}
            <li>{{day|safe}}</li>
        {% endfor%}
        </ul>
    </div>
    {% endif %}

    <div class="buttons">
    <p><strong>UWAGA!</strong> Przed pobraniem/wydrukowaniem sprawdź, czy daty są zgodne z udostępnionymi przez <a href="{{link_to_original_schedule}}" target="_blank">Urząd
                    Miejski w Wołominie.</a></p>
    <button type="submit" id="export-bottom" class="btn btn-default export_ical" onclick="window.location.href=link_to_ical"><span class="glyphicon glyphicon-save-file"></span>Pobierz na telefon</button><a class="glyphicon glyphicon-question-sign ics-help" data-toggle="tooltip" title="Plik *.ics możesz zaimportować np. w Google Calendar"></a>
    </div>

<script>
    $(document).ready(function () {
        $('html, body').animate({
            scrollTop: $("#calendar").offset().top
        }, 1000);

        var url = window.location.href;     // Returns full URL
        var full_url = document.createElement('a');
        full_url.href=url;
        link_to_ical = "{% url 'schedule:ical_calendar' %}" + full_url.search;
        $('.export_ical').attr("href", link_to_ical);

        $('[data-toggle="tooltip"]').tooltip({
            placement : 'top'
        });
    });
</script>
{% endblock  %}