{% extends "schedule/base.html" %}

{% block title %}
    Strona główna
{% endblock  %}
{% block description %}
    Pobierz na telefon harmonogram odbioru odpadów w gminie Wołomin - 2020 r.
{% endblock %}

{% block search %} 
    {% if config.maintenance_mode and user.is_authenticated or not config.maintenance_mode %}
         {% include 'schedule/search.html' %}
        <div class="for-print">
            <h2>Wybierz właściwy adres, aby wydrukować kalendarz.</h2>
        </div>
    {% else %}
        <div style="margin-top: 30px; text-align: center" class="alert alert-warning" role="alert">
        <p>Przepraszamy. W tej chwili trwa przerwa techniczna.<br/>
        Zapraszamy później.</p>
    </div>
    {% endif %}
{% endblock  %}
