{% extends "schedule/base.html" %}
{% load solo_tags %}

{% block title %}
    Strona główna
{% endblock  %}
{% block description %}
    {% get_solo 'schedule.ScheduleConfiguration' as config %}
    Pobierz na telefon harmonogram odbioru odpadów w gminie Wołomin - {{config.year}} r.
{% endblock %}

{% block search %} 
    {% get_solo 'schedule.ScheduleConfiguration' as config %}
    {% if config.maintenance_mode and user.is_authenticated or not config.maintenance_mode %}
         {% include 'schedule/search.html' %}
        <div class="for-print">
            <h2>Wybierz właściwy adres, aby wydrukować kalendarz.</h2>
        </div>
    {% else %}
        <div style="margin-top: 30px; text-align: center" class="alert alert-warning maintenance-mode" role="alert">
        <p>Przepraszamy. W tej chwili trwa przerwa techniczna.<br/>
        Zapraszamy później.</p>
    </div>
    {% endif %}
{% endblock  %}
