<div id="search">
    <div style="margin-top: 30px; text-align: center" class="alert alert-warning" role="alert">
        <p><b>Uwaga!</b> Ze względu na sytuację epidemiologiczną w kraju, terminy podane w harmonogramie mogą ulec
            zmianom.</p>
    </div>
    <div class="search-form">
        <form method="GET" id="AddressForm" action="{% url 'schedule:calendar' %}"
            data-streets-url="{% url 'schedule:ajax_load_streets' %}" novalidate autocomplete="off">

            {{form.as_p}}

            <button type="submit" id="search_button" class="btn btn-default">Szukaj</button>
        </form>
    </div>
</div>

<script>
    $("#id_city").change(function () {
        var url = $("#AddressForm").attr("data-streets-url");
        var cityId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'city': cityId
            },
            success: function (data) {
                $("#id_street").html(data);
            }
        });
    });
    $(document).ready(function () {
        $('#search_button').attr("disabled", true);
        $("#id_street").change(function () {
            if ($("#id_city").val() != "" && $("#id_street").val() != "") {
                $('#search_button').attr("disabled", false);
            };
        });

        var pathname = window.location.pathname;
        if (pathname.indexOf("kalendarz") > -1) {
            $('form#AddressForm').removeAttr('action');
        }
    });
</script>