.mark-rubbish {
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}


{% for css_class in rubbish_type_css %}
    {% with css_class|add:"-rubbish" as class_name %}
    .{{class_name}} {
        background: url({% url "schedule:svg" class_name=class_name %}) left top no-repeat;
    }
    {% endwith %}
{% endfor %}