.mark-rubbish {
    height: 25px;
    width: 25px;
    display: inline-block;
}


{% for css_class in rubbish_type_css %}
    {% with css_class|add:"-rubbish" as class_name %}
    .{{class_name}} {
        background: url({% url "schedule:svg" class_name=class_name %}) left top no-repeat;
    }
    {% endwith %}
{% endfor %}